<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <h4>{{user.username}}</h4>
    <span>{{format_date created_at}}</span>
    <p>{{post_text}}</p>
  </div>

  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>

<script src="/js/new.js"></script>