<article>
  <a href="/dashboard">&larr; Back to Dashboard</a>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <input type="text" name="post-title" value="{{post.title}}" />
      <br><br>
      <textarea id="post-text" name="post-text"></textarea>
      <p>{{post.post_text}}</p>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>