<div
  style='background-color: var(--offbg); height: 50px; margin-bottom: 50px; margin-top: 20px; margin-right: 50px'
  ;
>
  <h1
    class='beerstackTitle'
    style='display: flex; justify-content:center; color: var(--brew);'
  >
    Welcome to Beerstack!
  </h1>
</div>

<div class='container text-center'>
  <div class='row g-2'>
    <div class='col-6'>
        <div class='p-3 bg-dark' style='border: 2px ridge var(--brew);'>
          <table class='table'>
            <div>
              <label
                for='exampleFormControlInput1'
                class='form-label'
                style='color:var(--brew);'
              >Recent Posts</label>
              <thead class='table-dark'>

                <tr style='border: 1px solid var(--brew);'>
                  <th
                    scope='col'
                    style='border: 1px solid var(--brew);'
                  >Title</th>
                  <th
                    scope='col'
                    style='border: 1px solid var(--brew);'
                  >Details</th>
                </tr>

              </thead>
              <tbody>
                {{#each posts}}
                  <tr style='border: 1px solid var(--brew);'>
                    <th
                      scope='col'
                      style='border: 1px solid var(--brew); color:white'
                    >{{title}}</th>
                    <th
                      scope='col'
                      style='border: 1px solid var(--brew); color:white'
                    > {{post_text}}</th>
                  </tr>
                {{/each}}
              </tbody>
            </div>
          </table>
          <div class='nav-itemmain'>
            <a class='nav-linkmain' href='/allpost'>View All Posts</a>
          </div>
        </div>
      </div>
      <div class='col-6'>
        <div>
          <div class='p-3 bg-dark' style='border: 2px ridge var(--brew);'>
            <table class='table'>
              <div>
                <label
                  for='exampleFormControlInput1'
                  class='form-label'
                  style='color:var(--brew);'
                >Beer List</label>
                <thead class='table-dark'>
                  <tr style='border: 1px solid var(--brew);'>
                    <th scope='col' style='border: 1px solid var(--brew);'>Beer
                      Name</th>
                    <th
                      scope='col'
                      style='border: 1px solid var(--brew);'
                    >Likes</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each beers}}
                    <tr>
                      <th
                        scope='row'
                        style='border: 1px solid var(--brew); color:white'
                      >{{name}}</th>
                      <td
                        style='border: 1px solid var(--brew); color:white'
                      >{{likes}}</td>
                    </tr>
                  {{/each}}

                </tbody>
              </div>
            </table>
            <div class='nav-itemmain'>
              <a class='nav-linkmain' href='/beerpost'>Brewclopedia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!--

<body>
  <div class="border row m-2 p-2 justify-content-center">
    <div id="newpost" class="col-sm-4 p-2">
      <h1 class="border rounded p-2">
        <a class="border rounded p-1" href="/dashboard" style="text-decoration: none;
          color: var(--brew);"></a>
      </h1>
      <p>----- dashboard {{ login_status }} --------</p>
      <div>{{> new-post}}</div>
    </div> --}}
{{!-- <div id="newpost" class="col-sm-4 border">
      <h2 class="border rounded p-2" style="color: var(--brew);">New Beer Post</h2>

      <form class="new-post-form">
        <div>
          <label for="post-title" style="color: var(--brew);">Title</label>
          <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
          <label for="post-text" style="color: var(--brew);">Content</label>
          <textarea id="post-text" name="post-text"></textarea>
        </div>
        <button type="submit" class="btn" style="color: var(--brew);">🍺 Beer Post </button>
      </form>
    </div>
    {{#if posts.length}}
    <section>
      <h2>Your Posts</h2>
      <ol>
        {{#each posts as |post|}}
        <li>
          {{> post-info post}}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}


    <div id="newpost" class="col-sm-4 border">
      <h1 class="border rounded p-2" style="color: var(--brew);">
        Your Posts
      </h1>
      {{#each users as |user| }}
      <p style="color: var(--brew);">
        {{ first_name }}
      </p>
      {{/each}}

    </div>
    <div id="newpost" class="col-sm-4 border">
      <h1 class="border rounded p-2" style="color: var(--brew);">
        Your Cooler!
      </h1>
      <p>data goes here</p>
    </div>
  </div> --}}
{{!-- <div>
  <article>
  <a href="/dashboard">&larr; Back to Dashboard</a>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <input type="text" name="post-title" value="{{post.title}}" />
      <br><br>
      <textarea id="post-text" name="post-text"></textarea>
      <p>{{post.post_text}}</p>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
</div> --}}

{{! </body> }}

{{! <script src='/js/new.js'></script> }}