<div class="grid text-center" style="--bs-columns: 3;">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Top 5 Beers</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/beerpost" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Top 5 Posts</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Recent Posts</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>


{{!-- //what they see when they signup nad connect to new post and edit/delete posts// --}}


{{!-- <article id="searchBrew">
  <card class="border-top col-sm-12 d-flex justify-content-center">
    <div class="col-md-10" id="searchBrewStyle">
      <!-- inside card -->
      <div class="mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <ol class="post-list">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
          </li>
          {{/each}}
        </ol> --}}
        {{!-- {{#if projects.length}}
        <div class="col-md-6 project-list">
          <h3>Current Projects:</h3>

          {{#each projects as |project|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div> --}}
    {{!-- </div>
    </div>
  </card>
</article>

<article id="searchBrew">
  <card class="border-top col-sm-12 d-flex justify-content-center">
    <div class="col-md-10" id="searchBrewStyle">
      <!-- inside card -->
      <div class="mt-3 row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h2>POSTS ABOUT STUFFF</h2>
        <ul>
          <li>1blah</li>
          <li>2blah</li>
          <li>3blah</li>
          <li>4blah</li>
          <li>5blah</li>
        </ul> --}}
        {{!-- {{#if projects.length}}
        <div class="col-md-6 project-list">
          <h3>Current Projects:</h3>

          {{#each projects as |project|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div> --}}
    {{!-- </div>
    </div>
  </card>
</article> --}}

<script src="/js/comment"></script>